<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/tx
	    http://www.springframework.org/schema/tx/spring-tx.xsd">
	    
	<!-- Activates various annotations to be detected in bean classes -->
    <context:annotation-config />
	
	<!-- Scans the classpath for annotated components that will be auto-registered 
		as Spring beans. In this case it will scan for all stereotypes except @Controller,
		because it was made in servlet context -->
	<context:component-scan base-package="org.crud">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

	<!-- Loads hibernate properties -->
	<context:property-placeholder location="classpath:hibernate.properties" />

	<!-- Enables annotation style of managing transactions -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Wrapper upon plain JDBC. Used in DAO unit tests -->
	<bean id="jdbcTemplate"
        class="org.springframework.jdbc.core.JdbcTemplate">
    	<constructor-arg type="javax.sql.DataSource" ref="dataSource"/>
    </bean>
	
	<!-- Hibernate beans -->
	
	<!-- Hibernate SessionFactory for retrieving Hibernate sessions -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:configLocation="${hibernate.config}"
		p:packagesToScan="org.crud" />

	<!--  Binds a Hibernate Session from the specified factory to the thread -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />

	<!-- Data connection bean -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close"
		p:driverClass="${app.jdbc.driverClassName}"
		p:jdbcUrl="${app.jdbc.url}"
		p:user="${app.jdbc.username}"
		p:password="${app.jdbc.password}"
		p:acquireIncrement="5"
		p:idleConnectionTestPeriod="60"
		p:maxPoolSize="100"
		p:maxStatements="50"
		p:minPoolSize="10" />
		
	<!-- Hibernate beans end -->
    
</beans>